<a href="https://colab.research.google.com/github/mathcute/Data-Science---Projects/blob/main/1_analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objetivo dessa análise:

- **CALCULAR AS MÉDIAS DE ALUGUEIS DE NEW YORK**
- **CONTAR TODOS NOMES DISTINTOS NA COLUNA REGIÃO**
- **O VALOR DE ALUGUEL MAIS CARO DE NEW YORK**

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/AB_NYC_2019[1].csv')

## Calcular a média de todos os valores de aluguel da cidade de New York.

In [ ]:
preco_aluguel = data.loc[:, 'price']

valor_medio = np.mean(preco_aluguel)

152.7206871868289

## Contar todos os nomes distintos que aparecem na coluna região.

In [6]:
regiao = data.loc[:, 'neighbourhood_group']

pd.unique(regiao)

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

## Aluguel mais caro de New York

In [ ]:
preco_aluguel = data.loc[:, 'price']

np.max(preco_aluguel)

10000